# Python Introduction

### Variables

In [1]:
a = 5
b = True
c = "hello"

print(a, b, c)

5 True hello

### Lists

In [2]:
# creating lists
l = [0, 1, 1, 2, 3, 5, 8] # fibonacci sequence
len(l)

7

In [3]:
# indexing 
print(l[1])

# slicing
print(l[1:6])
print(l[:5])

1
[1, 1, 2, 3, 5]
[0, 1, 1, 2, 3]

In [4]:
# adding to list
l.append(l[5] + l[6]) 
l.append(l[-1] + l[-2]) 
l

[0, 1, 1, 2, 3, 5, 8, 13, 21]

### For loop

In [5]:
fib = []
for i in range(0, 20):
    if len(fib) < 2:
        fib.append(len(fib))
    else:
        fib.append(fib[-1] + fib[-2])

fib

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

### Dictionary

In [6]:
d = {"name": ["Diana", "Rakshit"],
    "age": [22, 15],
    "school": ["Columbia", "JPIS"]}

In [7]:
d["school"][1]

'JPIS'

## Pandas basics

In [8]:
# if you have not installed pandas, run the following in a cell:
# !pip install pandas

import pandas as pd

### Dataframe

In [9]:
df1 = pd.DataFrame.from_dict(d)
df1

      name  age    school
0    Diana   22  Columbia
1  Rakshit   15      JPIS

In [11]:
df1.append({"name": "Amor",
    "age": 24,
    "school": "Hunter College"}, ignore_index=True)

      name  age          school
0    Diana   22        Columbia
1  Rakshit   15            JPIS
2     Amor   24  Hunter College

### Read from csv

[COVID-19 Daily Counts of Cases, Hospitalizations, and Deaths](https://data.cityofnewyork.us/Health/COVID-19-Daily-Counts-of-Cases-Hospitalizations-an/rc75-m7u3)

Data drawn from [NYC Open Data](https://opendata.cityofnewyork.us/)

In [ ]:
!wget https://data.cityofnewyork.us/api/views/rc75-m7u3/rows.csv

In [12]:
df = pd.read_csv("rows.csv")
df.head()

,DATE_OF_INTEREST,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df.columns

Index(['DATE_OF_INTEREST', 'CASE_COUNT', 'probable_case_count',
       'HOSPITALIZED_COUNT', 'DEATH_COUNT', 'DEATH_COUNT_PROBABLE',
       'CASE_COUNT_7DAY_AVG', 'all_case_count_7day_avg', 'HOSP_COUNT_7DAY_AVG',
       'DEATH_COUNT_7DAY_AVG', 'all_death_count_7day_avg', 'BX_CASE_COUNT',
       'bx_probable_case_count', 'BX_HOSPITALIZED_COUNT', 'BX_DEATH_COUNT',
       'bx_probable_death_count', 'BX_CASE_COUNT_7DAY_AVG',
       'bx_all_case_count_7day_avg', 'BX_HOSPITALIZED_COUNT_7DAY_AVG',
       'BX_DEATH_COUNT_7DAY_AVG', 'bx_all_death_count_7day_avg',
       'BK_CASE_COUNT', 'bk_probable_case_count', 'BK_HOSPITALIZED_COUNT',
       'BK_DEATH_COUNT', 'bk_probable_death_count', 'BK_CASE_COUNT_7DAY_AVG',
       'bk_all_case_count_7day_avg', 'BK_HOSPITALIZED_COUNT_7DAY_AVG',
       'BK_DEATH_COUNT_7DAY_AVG', 'bk_all_death_count_7day_avg',
       'MN_CASE_COUNT', 'mn_probable_case_count', 'MN_HOSPITALIZED_COUNT',
       'MN_DEATH_COUNT', 'mn_probable_death_count', 'MN_CASE_COUNT_7DAY_AVG',
       'mn_all_case_count_7day_avg', 'MN_HOSPITALIZED_COUNT_7DAY_AVG',
       'MN_DEATH_COUNT_7DAY_AVG', 'mn_all_death_count_7day_avg',
       'QN_CASE_COUNT', 'qn_probable_case_count', 'QN_HOSPITALIZED_COUNT',
       'QN_DEATH_COUNT', 'qn_probable_death_count', 'QN_CASE_COUNT_7DAY_AVG',
       'qn_all_case_count_7day_avg', 'QN_HOSPITALIZED_COUNT_7DAY_AVG',
       'QN_DEATH_COUNT_7DAY_AVG', 'qn_all_death_count_7day_avg',
       'SI_CASE_COUNT', 'si_probable_case_count', 'SI_HOSPITALIZED_COUNT',
       'SI_DEATH_COUNT', 'si_probable_death_count', 'SI_CASE_COUNT_7DAY_AVG',
       'si_all_case_count_7day_avg', 'SI_HOSPITALIZED_COUNT_7DAY_AVG',
       'SI_DEATH_COUNT_7DAY_AVG', 'si_all_death_count_7day_avg', 'INCOMPLETE'],
      dtype='object')

In [14]:
# convert string date column to python datetime format
df['DATE_OF_INTEREST'] = pd.to_datetime(df['DATE_OF_INTEREST'])

In [15]:
# summary statistics of a column
df['DATE_OF_INTEREST'].describe()

count                     484
unique                    484
top       2020-04-13 00:00:00
freq                        1
first     2020-02-29 00:00:00
last      2021-06-26 00:00:00
Name: DATE_OF_INTEREST, dtype: object

### Dataframe Indexing

In [16]:
# slicing works on rows
#df[0] #incorrect syntax
df[0:1]

# selecting works with column names
#df['CASE_COUNT']

# # can't select a specific cell value
# df[0:1, 'CASE_COUNT'] #incorrect syntax

,DATE_OF_INTEREST,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
0,2020-02-29,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# iloc is integer based indexing
df.iloc[0]
df.iloc[0, 1]
df.iloc[:, 1]

0        1
1        0
2        0
3        1
4        5
      ...
479    151
480    174
481    152
482    160
483    105
Name: CASE_COUNT, Length: 484, dtype: int64

In [18]:
# loc is label based indexing
df.loc[0, 'CASE_COUNT']
df.loc[0, ['CASE_COUNT', 'DEATH_COUNT']]
df.loc[0:5, ['CASE_COUNT', 'DEATH_COUNT']]

   CASE_COUNT  DEATH_COUNT
0           1            0
1           0            0
2           0            0
3           1            0
4           5            0
5           3            0

In [19]:
# loc also works with boolean masks
df.loc[df['DATE_OF_INTEREST'] == '2020-06-13']
df.loc[df['DATE_OF_INTEREST'] == '2020-06-13'].to_dict()

{'DATE_OF_INTEREST': {105: Timestamp('2020-06-13 00:00:00')},
 'CASE_COUNT': {105: 196},
 'probable_case_count': {105: 13},
 'HOSPITALIZED_COUNT': {105: 34},
 'DEATH_COUNT': {105: 15},
 'DEATH_COUNT_PROBABLE': {105: 2},
 'CASE_COUNT_7DAY_AVG': {105: 343},
 'all_case_count_7day_avg': {105: 359},
 'HOSP_COUNT_7DAY_AVG': {105: 55},
 'DEATH_COUNT_7DAY_AVG': {105: 27},
 'all_death_count_7day_avg': {105: 31},
 'BX_CASE_COUNT': {105: 46},
 'bx_probable_case_count': {105: 3},
 'BX_HOSPITALIZED_COUNT': {105: 4},
 'BX_DEATH_COUNT': {105: 5},
 'bx_probable_death_count': {105: 1},
 'BX_CASE_COUNT_7DAY_AVG': {105: 70},
 'bx_all_case_count_7day_avg': {105: 74},
 'BX_HOSPITALIZED_COUNT_7DAY_AVG': {105: 11},
 'BX_DEATH_COUNT_7DAY_AVG': {105: 7},
 'bx_all_death_count_7day_avg': {105: 8},
 'BK_CASE_COUNT': {105: 51},
 'bk_probable_case_count': {105: 5},
 'BK_HOSPITALIZED_COUNT': {105: 10},
 'BK_DEATH_COUNT': {105: 4},
 'bk_probable_death_count': {105: 1},
 'BK_CASE_COUNT_7DAY_AVG': {105: 96},
 'bk_all_case_count_7day_avg': {105: 100},
 'BK_HOSPITALIZED_COUNT_7DAY_AVG': {105: 18},
 'BK_DEATH_COUNT_7DAY_AVG': {105: 7},
 'bk_all_death_count_7day_avg': {105: 9},
 'MN_CASE_COUNT': {105: 24},
 'mn_probable_case_count': {105: 1},
 'MN_HOSPITALIZED_COUNT': {105: 5},
 'MN_DEATH_COUNT': {105: 3},
 'mn_probable_death_count': {105: 0},
 'MN_CASE_COUNT_7DAY_AVG': {105: 53},
 'mn_all_case_count_7day_avg': {105: 55},
 'MN_HOSPITALIZED_COUNT_7DAY_AVG': {105: 9},
 'MN_DEATH_COUNT_7DAY_AVG': {105: 3},
 'mn_all_death_count_7day_avg': {105: 3},
 'QN_CASE_COUNT': {105: 73},
 'qn_probable_case_count': {105: 4},
 'QN_HOSPITALIZED_COUNT': {105: 14},
 'QN_DEATH_COUNT': {105: 2},
 'qn_probable_death_count': {105: 0},
 'QN_CASE_COUNT_7DAY_AVG': {105: 111},
 'qn_all_case_count_7day_avg': {105: 116},
 'QN_HOSPITALIZED_COUNT_7DAY_AVG': {105: 14},
 'QN_DEATH_COUNT_7DAY_AVG': {105: 9},
 'qn_all_death_count_7day_avg': {105: 10},
 'SI_CASE_COUNT': {105: 2},
 'si_probable_case_count': {105: 0},
 'SI_HOSPITALIZED_COUNT': {105: 1},
 'SI_DEATH_COUNT': {105: 1},
 'si_probable_death_count': {105: 0},
 'SI_CASE_COUNT_7DAY_AVG': {105: 13},
 'si_all_case_count_7day_avg': {105: 14},
 'SI_HOSPITALIZED_COUNT_7DAY_AVG': {105: 3},
 'SI_DEATH_COUNT_7DAY_AVG': {105: 1},
 'si_all_death_count_7day_avg': {105: 1},
 'INCOMPLETE': {105: 0}}

In [20]:
df.set_index('DATE_OF_INTEREST', inplace=True)
df.head()

,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,all_death_count_7day_avg,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
DATE_OF_INTEREST,,,,,,,,,,,,,,,,,,,,,
2020-02-29,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-01,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-02,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-03,1,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-04,5,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df.loc['2020-06-13']

CASE_COUNT                        196
probable_case_count                13
HOSPITALIZED_COUNT                 34
DEATH_COUNT                        15
DEATH_COUNT_PROBABLE                2
                                 ...
si_all_case_count_7day_avg         14
SI_HOSPITALIZED_COUNT_7DAY_AVG      3
SI_DEATH_COUNT_7DAY_AVG             1
si_all_death_count_7day_avg         1
INCOMPLETE                          0
Name: 2020-06-13 00:00:00, Length: 61, dtype: int64

### Dropping Columns

In [22]:
# method 1
cols = [c for c in df.columns if '7day_avg' in c.lower() or 'probable' in c.lower()]
cols

['probable_case_count',
 'DEATH_COUNT_PROBABLE',
 'CASE_COUNT_7DAY_AVG',
 'all_case_count_7day_avg',
 'HOSP_COUNT_7DAY_AVG',
 'DEATH_COUNT_7DAY_AVG',
 'all_death_count_7day_avg',
 'bx_probable_case_count',
 'bx_probable_death_count',
 'BX_CASE_COUNT_7DAY_AVG',
 'bx_all_case_count_7day_avg',
 'BX_HOSPITALIZED_COUNT_7DAY_AVG',
 'BX_DEATH_COUNT_7DAY_AVG',
 'bx_all_death_count_7day_avg',
 'bk_probable_case_count',
 'bk_probable_death_count',
 'BK_CASE_COUNT_7DAY_AVG',
 'bk_all_case_count_7day_avg',
 'BK_HOSPITALIZED_COUNT_7DAY_AVG',
 'BK_DEATH_COUNT_7DAY_AVG',
 'bk_all_death_count_7day_avg',
 'mn_probable_case_count',
 'mn_probable_death_count',
 'MN_CASE_COUNT_7DAY_AVG',
 'mn_all_case_count_7day_avg',
 'MN_HOSPITALIZED_COUNT_7DAY_AVG',
 'MN_DEATH_COUNT_7DAY_AVG',
 'mn_all_death_count_7day_avg',
 'qn_probable_case_count',
 'qn_probable_death_count',
 'QN_CASE_COUNT_7DAY_AVG',
 'qn_all_case_count_7day_avg',
 'QN_HOSPITALIZED_COUNT_7DAY_AVG',
 'QN_DEATH_COUNT_7DAY_AVG',
 'qn_all_death_count_7day_avg',
 'si_probable_case_count',
 'si_probable_death_count',
 'SI_CASE_COUNT_7DAY_AVG',
 'si_all_case_count_7day_avg',
 'SI_HOSPITALIZED_COUNT_7DAY_AVG',
 'SI_DEATH_COUNT_7DAY_AVG',
 'si_all_death_count_7day_avg']

In [23]:
df.drop(cols, axis=1)

,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_HOSPITALIZED_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_HOSPITALIZED_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,INCOMPLETE
DATE_OF_INTEREST,,,,,,,,,,,,,,,,,,,
2020-02-29,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
2020-03-01,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-02,0,2,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0
2020-03-03,1,7,0,0,1,0,0,3,0,0,1,0,1,2,0,0,0,0,0
2020-03-04,5,2,0,0,0,0,1,1,0,2,1,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-22,151,28,3,18,2,1,48,5,1,27,2,1,41,13,0,17,6,0,11000
2021-06-23,174,17,3,27,3,1,41,6,0,37,3,0,47,4,2,22,1,0,11000
2021-06-24,152,9,5,15,2,1,45,3,3,27,2,0,38,2,1,27,0,0,11000
2021-06-25,160,8,2,11,2,0,54,4,2,28,1,0,43,1,0,24,0,0,11000
2021-06-26,105,1,1,11,0,0,31,0,0,12,0,1,27,1,0,24,0,0,11000

In [24]:
# method 2
df = df.loc[:,~df.columns.str.contains('7day_avg', case=False)]
df = df.loc[:,~df.columns.str.contains('probable', case=False)]
df

,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_HOSPITALIZED_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_HOSPITALIZED_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,INCOMPLETE
DATE_OF_INTEREST,,,,,,,,,,,,,,,,,,,
2020-02-29,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
2020-03-01,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-02,0,2,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0
2020-03-03,1,7,0,0,1,0,0,3,0,0,1,0,1,2,0,0,0,0,0
2020-03-04,5,2,0,0,0,0,1,1,0,2,1,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-22,151,28,3,18,2,1,48,5,1,27,2,1,41,13,0,17,6,0,11000
2021-06-23,174,17,3,27,3,1,41,6,0,37,3,0,47,4,2,22,1,0,11000
2021-06-24,152,9,5,15,2,1,45,3,3,27,2,0,38,2,1,27,0,0,11000
2021-06-25,160,8,2,11,2,0,54,4,2,28,1,0,43,1,0,24,0,0,11000
2021-06-26,105,1,1,11,0,0,31,0,0,12,0,1,27,1,0,24,0,0,11000

### Adding columns

In [25]:
df['TOTAL_CASES'] = df['CASE_COUNT'].cumsum()
df['TOTAL_HOSPITALIZED'] = df['HOSPITALIZED_COUNT'].cumsum()
df['TOTAL_DEATH'] = df['DEATH_COUNT'].cumsum()

In [26]:
df['TOTAL_SURVIVED'] = df['TOTAL_CASES'] - df['TOTAL_DEATH']

In [27]:
# lambda function
df.apply(lambda row: row['CASE_COUNT'], axis=1)

DATE_OF_INTEREST
2020-02-29      1
2020-03-01      0
2020-03-02      0
2020-03-03      1
2020-03-04      5
             ...
2021-06-22    151
2021-06-23    174
2021-06-24    152
2021-06-25    160
2021-06-26    105
Length: 484, dtype: int64

In [28]:
df['BK_CASE_PCT'] = df.apply(lambda row: (row['BK_CASE_COUNT']/row['CASE_COUNT']) * 100
         if row['CASE_COUNT'] > 0 else 0, axis=1)
df['BK_CASE_PCT']

DATE_OF_INTEREST
2020-02-29     0.000000
2020-03-01     0.000000
2020-03-02     0.000000
2020-03-03     0.000000
2020-03-04    20.000000
                ...
2021-06-22    31.788079
2021-06-23    23.563218
2021-06-24    29.605263
2021-06-25    33.750000
2021-06-26    29.523810
Name: BK_CASE_PCT, Length: 484, dtype: float64